.news-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  border-radius: 10px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ffffff;
  padding: 20px;
  text-align: left;
}

th {
  background-color: #bcd5f5;
}
.add-news-btn{
  margin-left: 94%;
  margin-bottom: 5px;
}
.view-btn, .edit-btn, .delete-btn {
  background-color: #00ca36;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}
.add-news-btn:hover, .view-btn:hover, .edit-btn:hover, .delete-btn:hover {
  background-color: #94c7a2;
}
.delete-btn {
  background-color: #dc3545;
}
.delete-btn:hover {
  background-color: #c82333;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
.popup.show {
  display: flex;
}
.popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.mat-slide-toggle {
  margin-top: 10px;
}
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
input[type="text"], textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  height: 100px;
}
button {
  background-color: #28a745;
  border: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #218838;
}
.close-btn {
  background-color: #dc3545;
}
.close-btn:hover {
  background-color: #c82333;
}
input[type="text"], textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: 14px;
  transition: border-color 0.3s ease;
}
input[type="text"]:focus, textarea:focus {
  border-color: #87e4b8;
  outline: none;
}
input[disabled], textarea[disabled] {
  background-color: #f9f9f9;
  cursor: not-allowed;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}
input:checked + .slider {
  background-color: #63ee9d;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}


